#maininfo1{
  margin-left: 15px;  
} 
#maininfo2{
    margin-left: 49px;  
  } 
  #maininfo3{
    margin-left: 15px;  
  } 
  #maininfo4{
    margin-left: 42px;  
  } 
  #sex{
    margin-left: 38px;  
  }
  #dr{
    margin-left: 0px;  
  }
  #re{
    margin-left: 10px;  
  }
  #vya{
    margin-left: 10px;  
  }
  #co{
    margin-left: 10px;  
  }
